body {
    font-family: Arial, sans-serif;
    background-color: #2352b875;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1113b497;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.highlighted-dresses {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 20px;
}

.highlighted-dress {
    text-align: center;
    width: 100%;
    padding: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  
    border-radius: 100px;
}

.highlighted-dress img {
    width: 100%;
    border-radius: 10opx;
    margin-bottom: 100px;
}

.slogan {
    text-align: center;
    font-size: 24px;
    color: #1a32b98b;
    margin-bottom: 30px;
}

.footer {
    background-color: #3121bb83;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
